/*
This CSS is adapted from https://pmarsceill.github.io/just-the-docs/
Copyright Patrick Marsceill, MIT license
https://github.com/pmarsceill/just-the-docs/blob/master/LICENSE.txt
(MIT licensed)
*/

html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size:15px !important;
}
@media (min-width: 31.25rem){
  html{
    font-size:17px !important;
  }
}

body{
  margin:0;
  position:relative;
  padding-bottom:4rem;
  font-family:-apple-system,"helvetica neue",helvetica,roboto,noto,"segoe ui",arial,sans-serif;
  font-size:inherit;
  line-height:1.5;
  color:#5c5962;
  background-color:#fff;
}
@media (min-width: 50rem){
  body{
    position:static;
    padding-bottom:0;
  }
}
h1{
  font-size:2em;
  margin:0.67em 0
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup{
  top:-0.5em
}
sub{
  bottom:-0.25em
}
img{
  border:0
}
p,h1,h2,h3,h4,h5,h6,ol,ul,pre,address,blockquote,dl,div,fieldset,form,hr,noscript,table{
  margin-top:0
}
h1,h2,h3,h4,h5,h6{
  margin-top:1.2em;
  margin-bottom:0.8em;
  font-weight:500;
  line-height:1.15;
  color:#27262b;
}
p{
  margin-bottom:1em
}
a{
  color:#0E39B0;
  text-decoration:none;
}
pre{
  overflow:auto;
  margin:0;
  margin-bottom: 0.8em;
}
code{
  font-family:"SFMono-Regular",Menlo,Consolas,Monospace;
  font-size:12px;
  line-height:1.4;
    padding:0.2em 0.15em;
    font-weight:400;
    background-color:#f5f6fa;
    border:1px solid #eeebee;
    border-radius:4px;
}
li:not(:last-child) {
    margin-bottom: 5px;
}
img{
  max-width:100%;
  height:auto
}
hr{
  height:1px;
  padding:0;
  margin:2rem 0;
  background-color:#eeebee;
  border:0;
}

.franklin-content {
  padding-right:1rem;
  padding-left:1rem;
  padding-top:1rem;
  padding-bottom:1rem;

  line-height:1.5
}
@media (min-width: 50rem){
  .franklin-content {
    padding-right:2rem;
    padding-left:2rem;
    padding-top:2rem;
    padding-bottom:2rem;
  }
}

/************************************************************
=============================================================

JUDOC SPECIFICS

============================================================
************************************************************/

.franklin-content a{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.franklin-content ul,ol{
  line-height: 1em;
}
.franklin-content li{
  margin-top: 0.3em;
  line-height: 1.3em;
}

.franklin-content ul,.franklin-content ol{
  padding-left:1.5em
}

.franklin-content h1:first-of-type{
  margin-top:0.5em
}

.franklin-content h1,h2,h3,h4,h5,h6{
  position:relative
}

td.fndef-backref {
  min-width: 20px;
}


.franklin-content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1em;}
.franklin-content tr,th,td{
    padding: 10px;
    border: 1px solid black;}

.franklin-content table tbody tr td {
  border: 1px solid black;
}

.franklin-content blockquote {
    background: lemonchiffon;
    border-left: 7px solid #a8a8a8;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;}

.franklin-content blockquote p {
    display: inline; }

.franklin-content .row {
  display: block; }

.franklin-content .left {
  float: left;
  margin-right: 15px; }

.franklin-content .right {
    float: right; }

.franklin-content .container img {
    width: auto;
    padding-left: 0;
    border-radius: 10px;
    margin-bottom: 1em;}


.franklin-content .fndef table {
  margin: 0;
  margin-bottom: 1em;
  border: 0;
}
.franklin-content .fndef tr {
  padding: 0;
  border: 0;
  text-align: left;
}
.franklin-content .fndef td {
  padding: 0;
  border: 0;
}
.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 80%;
  padding-left: 5px;
}
.franklin-content .fndef td.fndef-content {
  font-size: 90%;
  padding-left: 10px;
}
.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content img {
    width: 80%;
    text-align: center;
    padding-left: 10%; }

.franklin-content .img-small img {
    width: 50%;
    text-align: center;
    padding-left: 20%; }


/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
    display: inline-block; } /* overwrite katex settings */

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px; }

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: "";
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

.hljs {
    font-size: 80%;
    line-height: 1.35em;
    border-radius: 10px;
    padding: 1em;
    padding-left:1.2em;
  }

.hljs-meta, .hljs-metas, .hljs-metap { font-weight: bold; }

.hljs-meta { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

.hljs-string {color: #ca4418;}
.hljs-subst { color: inherit;}

.page-foot {
  margin-top: 2em;
  border-top: 1px solid #eeebee;
  padding-top:20px;
  padding-bottom:15px;
  color: gray;
  font-size: 90%;
}

/* code.language-plaintext {color: purple;} */

.franklin-toc ol > li > ol {list-style-type: lower-alpha;}
.franklin-toc ol > li > ol > li > ol {list-style-type: lower-roman;}

code.language-yaml .hljs-attr { color: #ca4418;}
code.language-yaml .hljs-string { color: green;}

ul.menu-list-child-list {
  padding-bottom: 0.5em;
}

ul.menu-list-child-list li{
  padding-left: 1em;
}
ul.menu-list-child-list a.menu-list-link {
  font-size: 14px !important;
}


/* LUNR */
.result-title a {
    /* font-size: 1.2em; */
    text-decoration: none;
}

.result-title a:hover {
    text-decoration: underline;
}

.result-preview {
    color: #808080;
}

/* .search-input {
    width: 250px;
} */

.resultCount {
    color: #808080;
}

.result-query {
    font-weight: bold;
}

#lunrSearchForm {
  margin-top: 1em;
}

.blank {
  height: 1.5em;
}

.flist p {
  display:inline;
}
.flist ul {
  list-style: none;
}
.flist a#goto {
  padding-right: 10px;
  margin-left: -15px;
}
.flist a#goto #arrow{
  display:none;
}
.flist a#goto:hover #check {
  display: none;
}
.flist a#goto:hover #arrow {
  display: inline;
}
.tlist p {
  display:inline;
}

.note {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color:  aliceblue;
  border-radius: 5px;
  margin-bottom: 1em;
}
.note .content {
  padding: 10px;
  padding-left: 12px;
}
.note .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  color: white;
  background: cornflowerblue;
}

.warning {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color:  #f1b3b1;
  border-radius: 5px;
  margin-bottom: 1em;
}
.warning .content {
  padding: 10px;
  padding-left: 12px;
}
.warning .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  color: white;
  background: crimson;
}



.definition {
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}

.important {
  background-color: lemonchiffon;
  padding: 0.5em;
  margin-bottom: 1em;
}

.silly-formatting {
  width: 50%;
  text-align: center;
  color: magenta;
  border: 1px solid black;
}

.ccols {
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  text-align: center;}
.ccols svg {
  width:30px;}

.lalign td {
  text-align: left;
}
.lalign tr:first-of-type > td {
  text-align: center;
}

.lalignb td {
  text-align: left;
}
.lalignb tr:first-of-type > td {
  text-align: center;
}
.lalignb th:nth-child(1){
  width:100px;
}

/* ================================================================== */
/* Small additional divs */
/* ================================================================== */

.small-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.franklin-content h1 > a {white-space: normal;}
.franklin-content h2 > a {white-space: normal;}
.franklin-content h3 > a {white-space: normal;}

.copy-button {
	cursor: pointer;
	border: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 6px 10px 10px;
	color: rgb(24, 21, 24);
	background-color: rgb(189, 196, 207);
}

/* supports question 3 */
.code-output code.plaintext.hljs {
  background-color:#fcbc01; /*#ff7c4c;*/
}
