:root {
  --black: hsf(0, 0%, 5%);
  --background: hsl(0, 0%, 100%);
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
}

.docs-brand {
    margin-top: 0.5rem;
}

.docs-content > .container {
    margin-top: 0.9rem;
}

ul {
    list-style: disc;
}

.off-canvas .off-canvas-sidebar {
    width: 14rem !important;
}

.off-canvas-content {
    margin-top: 4rem;
}

.docs-sidebar .docs-nav {
    width: 14rem !important;
}

code {
    background: var(--block-background);
    color: var(--black);
    display: block;
    padding: 0.5rem;
    overflox-x: auto;
}

th, td, tr {
    border-left: none !important;
    border-right: none !important;
    border: 1px solid #ddd;
}

th, td {
    padding: 0.2rem;
}

th {
    border: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.context {
    color: var(--black);
}

h2 {
    margin-top: 3rem;
}
